/*Stylisation tools used for logo*/
@font-face {
	font-family:	"barrack";
	src:	url("./Assets/fonts/barrack.ttf");
}
.font-barrack {
	font-family: "barrack";
}

.lsize {
	font-size: 38px;
}

.color-purple {
	color: #766990;
}


/*body and structual styling*/

body {
	background-color:#4b4a56;
	background-image:url("./Assets/images/bg.png");
	background-repeat: no-repeat;
    	background-size: auto;
}

header {
	margin:	10px 0 0;
	top: 50%;
	left: 50%;
	color: #c1afaf;
}

#opacity-reset {
	opacity: 100%;
}
