/*Stylisation tools used for logo*/
@font-face {
	font-family:	"barrack";
	src:	url("./Assets/fonts/barrack.ttf");
}
.font-barrack {
	font-family: "barrack";
}

.lsize {
	font-size: 38px;
}

.color-purple {
	color: #766990;
}

/*Structural properties*/
#rcorners{
	text-allign: center;
	border-radius: 100px 100px 100px;
	border: 2px solid #766990;
	padding: 20px;
	width: 50%;
	height: 500px;
	background: rgba(0,0,0,0.8);
}

#rcorners1{
	text-allign: center;
	border-radius: 20px 20px 20px;
	padding: 20px;
	width: 98%;
	height: 95%;
	background: rgba(0,0,0,0.8);
    	overflow-x:scroll;
}

/* Scroll bar */

::-webkit-scrollbar {
    height:0;
    width:0;
}

/*body and structual styling*/

body {
	background-color:#4b4a56;
	background-image:url("./Assets/images/bg.png");
	background-repeat: no-repeat;
    	background-size: auto;
}

header {
	margin:	0px 0 0;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #766990;
}

#opacity-reset {
	opacity: 100%;
}
