@font-face {
	font-family: "cherl";
	src:	url("./Assets/fonts/CHERL___.TTF");
}
.font-cherl {
	font-family: "cherl";
}
@font-face {
	font-family: "cheri";
	src:	url("./Assets/fonts/CHERI___.TTF");
}
.font-cheri {
	font-family: "cheri";
}